:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171d2c;
    --background-secondary: #1f2a46;
    --background-tertiary: #323e5d;
    --background-quaternary: #26324d;
    --background-quinary: #313e5c;
    
    --foreground: #d9d9d9;

    --border-color: #3e4c70;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button {
  cursor: pointer;
}

/* Flex */
.f {
  display: flex;
}
.f-c {
  flex-direction: column;
}
.jc-c {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}
.jc-se {
  justify-content: space-evenly;
}
.jc-sa {
  justify-content: space-around;
}
.ai-c {
  align-items: center;
}
.ai-fs {
  align-items: flex-start;
}

/* Gap */
.g-1 {
  gap: 0.25rem;
}

/* Margin */
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-3 {
  margin: 1rem;
}
.mt-1 {
  margin-top: 0.25rem;
}

/* Border */
.b {
  border: 1px solid var(--border-color);
}
.b-n {
  border: none;
}
.br {
  border-radius: 0.25rem;
}
.bc-1 {
  border-color: var(--border-color);
}
.bt {
  border-top: 1px solid var(--border-color);
}
.br {
  border-right: 1px solid var(--border-color);
}
.bb {
  border-bottom: 1px solid var(--border-color);
}
.bl {
  border-left: 1px solid var(--border-color);
}
.bt-n {
  border-top: none;
}
.br-n {
  border-right: none;
}
.bb-n {
  border-bottom: none;
}
.bl-n {
  border-left: none;
}

/* Padding */
.p-1 {
  padding: 0.25rem;
}
.p-1-a {
  padding: 0.25rem 0.5rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-2-a {
  padding: 0.5rem 1rem;
}
.p-3 {
  padding: 1rem;
}
.p-3-a {
  padding: 1rem 2rem;
}

/* Font Size */
.fs-xs {
  font-size: 0.5rem;
}
.fs-sm {
  font-size: 0.75rem;
}
.fs-md {
  font-size: 1rem;
}
.fs-lg {
  font-size: 1.25rem;
}
.fs-xl {
  font-size: 1.5rem;
}

/* Text */
.ta-c {
  text-align: center;
}

/* Width */
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}