.group-match {
    background: var(--background-quinary);
}

.group-match-header {
    background: var(--background);
    border-radius: 0.25rem 0.25rem 0 0
}

.group-match-scores {
    width: 15%;
}

.group-match-content {
    width: 85%;
}