.status {
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.status.upcoming {
  border-color: var(--status-upcoming);
  color: var(--status-upcoming);
}

.status.ready {
  border-color: var(--status-ready);
  color: var(--status-ready);
}

.status.in_progress {
  border-color: var(--status-in_progress);
  color: var(--status-in_progress);
}

.status.pending {
  border-color: var(--status-pending);
  color: var(--status-pending);
}

.status.finished {
  border-color: var(--status-finished);
  color: var(--status-finished);
}