.score-set {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.score-set-item {
    width: 100%;
    border-right: 1px solid var(--border-color);
}

.score-set-item:last-child {
    border-right: none;
}

.score {
    height: 100%;
}

.score:first-child {
    border-bottom: 1px solid var(--border-color);
}